{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        cheshire {:mvn/version "5.9.0"}
        hiccup {:mvn/version "1.0.5"}}
 ;; See https://github.com/luchiniatwork/cambada#caveats
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :aliases {:uberjar
           {:extra-deps
            {luchiniatwork/cambada {:mvn/version "1.0.0"}}
            :main-opts ["-m" "cambada.uberjar"
                        "-m" "transcribble.main"]}}}
