{:deps {cheshire/cheshire {:mvn/version "5.9.0"}
        clj-pdf/clj-pdf {:mvn/version "2.6.2"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        org.clj-commons/hickory {:mvn/version "0.7.3"}}
 ;; See https://github.com/luchiniatwork/cambada#caveats
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :aliases {:uberjar
           {:extra-deps
            {luchiniatwork/cambada {:mvn/version "1.0.0"}}
            :main-opts ["-m" "cambada.uberjar"
                        "--app-version" "2024-10-12.0"
                        "-m" "transcribble.main"]}}}
